/Logs
*.lnk
CryMP-Server-Light.iml
.idea/vcs.xml
/.idea
/Sources/C++/.vs
/Sources/Lua/Crysis Scripts
CryMP-Server.log
/LogBackups
/Sources/Lua/Remote/PAK/Images
/Sources/C++
/Sources/C++ v23 - Copy
/Sources/C++ v23
